<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="/style.css">
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Job Finder</title>
</head>
<body>
    <header>
         <nav>
            <a href="/" class="logo">Job Finder</a>
            <div class="mobile-menu">
                <div class="line1"></div>
                <div class="line2"></div>
                <div class="line3"></div>
            </div>
            <ul class="nav-list">
                 <li><a href="/">Ver vagas</a></li>
                <li><a href="/jobs/add" class="open">Abrir Vaga</a></li>
            </ul>
        </nav>
    </header>
    {{{ body }}}
    <script src="./mobile-navbar.js"></script>
</body>
</html>