<div class="conteiner-add">
        <div class="add-text">
            <h1 class="text-h1">Divuilgue a vaga preenchendo o formulario</h1>
        </div>
        <div class="form-add">
            <h2>Preencha os dados da melhor forma para encontrar seu dev mais rapido</h2>
        </div>
    </div>

    <form class="form" method="POST">
        <div class="form-card">

            <input type="text" placeholder="Digite o titulo da vaga" class="input-add" required name="title">
    
            <input type="text" placeholder="Descrição da vaga" class="input-add" required name="description">
    
            <input type="text" placeholder="Empresa Contratante" class="input-add" required name="company">
    
            <input type="email" placeholder="Email para contato" class="input-add" required name="email">
    
            <input type="text" placeholder="Salário oferecido" class="input-add" required name="salary"> 

            <button type="submit">Enviar</button>
        </div>
    </form>